.root {
    background-color: var(--notification-color,
            var(--mantine-primary-color-filled));
    z-index: 1000;

    &::before {
        background-color: var(--mantine-color-white);
    }
}

.description,
.title {
    color: var(--mantine-color-white);
}

.closeButton {
    color: var(--mantine-color-white);
}