@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-TextInput-input {
	height: 46px !important;

	padding-left: 20px !important;
}

.mantine-PasswordInput-input {
	height: 46px !important;
	padding-left: 20px !important;
}

.mantine-PasswordInput-innerInput {
	height: 46px !important;
	padding-left: 20px !important;
}
